
.faq-section ul {
	height: 300px;
	overflow: scroll;
	margin: 0px;
	padding: 0px;
}


.faq-section li {
	display:inline-table;
	
	margin: 2px;
	border:1px solid yellow;
	background:black;
}

.faq-section img {
	width:125px;
	height:100px;
}